@charset "UTF-8";
h1{
	text-align: center;
}
a{
	font-size: large;
	text-decoration: none;
}
.block {
	margin:auto;
	text-align:center;
    display: block;
    width: 25%;
    border: none;
    background-color: red;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
fieldset {
	background-color: #d3d5fa;
	text-align: center;
	padding: 14px 28px;
	margin: 100px 300px;
}